
<!DOCTYPE html>
<html>
<head>
    <title>Add Soda/Water to Store</title>
</head>
<body>
    <h1>Add Soda or Water to Store</h1>
    <h2>only staff members</h2>

    <form method="post">
        {% csrf_token %}
        <label>Soda Amount:</label>
        <input type="number" name="soda_amount" min="0" required><br><br>

        <label>Water Amount:</label>
        <input type="number" name="water_amount" min="0" required><br><br>

        <button type="submit">Add to Store</button>
    </form>

    <a href="{% url 'pending_transactions' %}">View Pending Transactions</a>
    <br>
    <a href="{% url 'store_status' %}">View Store Status</a>
    <br>
    <span><a href="{% url 'home'%}">HOME</a></span>
</body>
</html>
