{% comment %} {% extends "base.html" %} {% endcomment %}
{% load static %}

{% block content %}
<nav>
    {% if messages %}
    <ul>
        {% for message in messages %}
            <li style="color: {% if message.tags == 'error' %}red{% else %}green{% endif %};">
                {{ message }}
            </li>
        {% endfor %}
    </ul>
    {% endif %}
</nav>
<div class="container mt-4">
    <span><a href="{% url 'home'%}">HOME</a></span>
    <h2>Search Car Transactions</h2>
    {% comment %} <input type="text" name="car_id" class="form-control" placeholder="Enter Car ID..."
    value="{{ query }}"> {% endcomment %}

    <form method="GET" action="{% url 'search_car_transactions' %}">
        <input type="search" list="search_values" name="q" class="form-control" placeholder="Search car, person, route..." value="{{ query }}">
        <datalist id="search_values">
            <option value="michael"></option>
            <option value="T 181EJM"></option>
            <option value="DAR-ES-SALAAM">DAR-ES-SALAAM</option>
            <option value="TARAKEA">ROMBO</option>
            <option value="SINGIDA">SINGIDA</option>
            <option value="KIOMBOI">KIOMBOI</option>
            <option value="BABATI">BABATI</option>
            <option value="ARUSHA">ARUSHA</option>
            <option value="KARATU">KARATU</option>
            <option value="MOSHI">MOSHI</option>
            
            <option value="T 280DZX">T 280DZX</option>
            <option value="T 331DYR">T 331DYR</option>
            <option value="T 195DVA">T 195DVA</option>
            <option value="T 183EJM">T 183EJM</option>
            <option value="T 180EJM">T 180EJM</option>
            <option value="T 881EKY">T 881EKY</option>
            <option value="T 476EFC">T 476EFC</option>
            <option value="T 233EFF">T 233EFF</option>
            <option value="T 234EFF">T 234EFF</option>
            <option value="T 761ELK">T 761ELK</option>
            <option value="T 762ELK">T 762ELK</option>
            <option value="T 986ECJ">T 986ECJ</option>
            <option value="T 612EGV">T 612EGV</option>
            <option value="T 582ENJ">T 582ENJ</option>
            <option value="T 486EFC">T 486EFC</option>
            <option value="T 386EBT">T 386EBT</option>
            <option value="T 395EGV">T 395EGV</option>
            <option value="T 580ENJ">T 580ENJ</option>
            <option value="T 989ECJ">T 989ECJ</option>
            <option value="T 290DXB">T 29ODXB</option>
            <option value="T 291DXB">T 291DXB</option>
            <option value="T 181EJM">T 181EJM</option>
            <option value="T 878EKY">T 878EKY</option>
        
        </datalist>
        <br>
        <button class="btn btn-primary">Search</button>
    </form>

    <hr>

{% if transactions %}
<h3>Results for: {{ query }}</h3>

<div class="table-responsive ">
<table cellpadding="5" border="1"  class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>Car</th>
            <th>User</th>
            <th>Type</th>
            {% comment %} <th>Status</th> {% endcomment %}
            <th>Soda</th>
            <th>Water</th>
            <th>Safari</th>
            
            <th>Date</th>
            <th>Return</th>
            <th>Return Date</th>
            <th>Total Soda</th>
            <th>Total Water</th>
            <th>Grand Total</th>
        </tr>
    </thead>

    <tbody>
        {% for t in transactions %}
        {% if t.status == "confirmed" %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ t.car_id }}</td>
            <td>{{ t.user.username }}</td>
            <td>{{ t.transaction_type }}</td>
            {% comment %} <td>{{ t.status }}</td> {% endcomment %}
            <td>{{ t.soda_amount }}</td>
            <td>{{ t.water_amount }}</td>

            {% if t.tripstatics %}
                <td>{{ t.tripstatics.start }} <b>TO</b> {{ t.tripstatics.destination }}</td>
                <td>{{ t.tripstatics.trip_date }}</td>
                <td>{{ t.tripstatics.return_start }} <b>TO</b> {{ t.tripstatics.return_destination }}</td>
                <td>{{ t.tripstatics.return_trip_date }}</td>
            {% else %}
                <td colspan="6" class="text-center">No trip assigned</td>
            {% endif %}

            <td>{{ t.soda_total }} TZS</td>
            <td>{{ t.water_total }} TZS</td>
            <td><strong>{{ t.grand_total }} TZS</strong></td>
        </tr>

        {% endif %}
        {% endfor %}
    </tbody>
</table>
</div>

{% endif %}
</div>
{% endblock %}
