{% extends 'base.html'%}

{% block title %}
  All Transactions
{% endblock title %}

{% block head %}
    Transactions
{% endblock head %}

{% block header %}
    All Transactions From users
{% endblock header %}


{% block content%}
<style>
    html{
        padding: 0;
        margin: 0;
    }

</style>


<table cellpadding="2" class="table table-bordered table-striped" border="1" cellpadding="5" style="border-collapse: collapse; width:80%; background:white; color:black;">
    <thead style="background:#e3e3e3; font-weight:bold; color: black;">
        <tr>
            <!-- <th>#</th>
            <th>id</th> -->
            <th>User</th>
            <th>Car_Id</th>
            <th>Transaction Type</th>
            <th>Soda Amount</th>
            <th>Water Amount</th>
            <!-- <th>Total amount</th> -->
            <th>Status</th>
            <th>Trip ID</th>
            <th>Start</th>
            <th>Destination</th>
            <!-- <th>Passengers</th> -->
            <th>Confirmed By</th>
            <th>Created On</th>
            <!-- <th>Created At</th> -->
            <th>View transaction</th>
        </tr>
    </thead>
    <tbody>
        {% for t in transactions %}
        <tr>
            <!-- <td>{{ forloop.counter }}</td>
            <td>{{t.id}}</td> -->
            <td>{{ t.user.username }}</td>
            {% if t.get_transaction_type_display == "Add" %}
                <td>None</td>
            {% else %}
                <td>{{ t.car_id }}</td>
            {% endif %}
            <td>{{ t.get_transaction_type_display }}</td>
            <td>{{ t.soda_amount }}</td>
            <td>{{ t.water_amount }}</td>
            <!-- <td>{{t.total_price}}</td> -->
            <td>{{ t.get_status_display }}</td>
            <td>{{ t.tripstatics.id }}</td>
            <td>{{ t.tripstatics.start }}</td>
            <td>{{ t.tripstatics.destination }}</td>
            <!-- <td>{{ t.tripstatics.passenger_number }}</td> -->
            <td>{% if t.confirmed_by %}{{ t.confirmed_by.username }}{% else %}-{% endif %}</td>
            <td>{{t.created_on}}</td>
            <!-- <td>{{t.created_at}}</td> -->

            <td><a href="{% url 'transaction_data' t.id %}">Data</a></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="12" class="text-center">No transactions found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content%}